/* reset */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, Arial, "Microsoft Yahei";
}
a{
    color: #39a030;
    text-decoration: none;
}
div{
    box-sizing: border-box;
}
li{
    list-style: none;
}
.main{
    width: 1206px;
    margin: 0 auto;
    height: 100%;
}
#videoMask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;
}
#videoWindow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 620px;
    padding: 30px;
    background-color: white;
}
#videoWindow p{
    font: 18px "微软雅黑";
    margin-bottom: 20px;
}
#videoWindow video{
    width: 889px;
    height: 500px;
}
#login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;
}
#login_panel{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 387px;
    height: 288px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 52px 40px 40px;
}
#login_panel_cancel, #video_panel_cancel{
    position: absolute;
    top: 10px;
    right: 8px;
    width: 20px;
    height: 20px;
    background: url(../icon/登陆关闭.png) no-repeat 0 0;
}
#login_panel_cancel:hover, #video_panel_cancel:hover{
    cursor: pointer;
}
#login_panel h3{
    font: 18px "微软雅黑";
}
#login_panel input{
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border: 1px solid #dfdfdf;
    box-shadow: 2px 2px #f1f1f1 inset;
    padding-left: 10px;
    background-color: #fafafa;
}
#login_panel #account{
    margin: 20px 0 15px 0;
}
#login_panel #password{
    margin-bottom: 30px;
}
#login_panel #submit{
    width: 293px;
    height: 46px;
    background-color: #1aa43a;
    color: white;
    text-align: center;
    font: 16px/46px "微软雅黑";
    border: none;
    box-shadow: 2px 2px #d5e3da;
}
#login_panel #submit:hover{
    cursor: pointer;
}
#tip{
    height: 36px;
    background: #f3f3f3;
}
#tip span{
    font: 12px/36px "微软雅黑";
}
#tip #tip_noremind{
    float: right;
}
#tip #tip_noremind:hover{
    cursor: pointer;
}
#navigation{
    height: 90px;
}
#navigation .main{
    line-height: 90px;
}
#navigation .title{
    float: left;
    margin-right: 30px;
    font-size: 22px;
}
#title_en{
    font:bold 22px "Arial";
    color: #39a030;
    width: 110px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px #21a557 solid;
}
#navigation .focus{
    float: left;
    margin-right: 15px;
}
#focus_btn{
    display: inline-block;
    width: 54px;
    height: 20px;
    text-align: center;
    font: 12px/20px "宋体";
    color: white;
    background-color: #21a557;
    border-radius: 2px;
}
#focus_btn:hover{
    background-color: #2fb556;
    cursor: pointer;
}
#focused_btn{
    display: none;
    width: 105px;
    height: 20px;
    text-align: center;
    font: 12px/20px "宋体";
    border: 1px solid #efefef;
}
#focused_btn_devide{
    color: #ccc;
}
#focused_btn_cancel{
    color: #999;
}
#focused_btn_cancel:hover{
    color: #39a030;
    text-decoration: underline;
    cursor: pointer;
}
#navigation .fans{
    display: inline-block;
    font-size: 12px;
    font-family: "宋体";
}
#navigation .link{
    float: right;
    background: url(../icon/搜索.png) no-repeat 100% 50%;
}
#navigation .link li{
    display: inline-block;
    margin-right: 55px;
    font-size: 16px;
}
#navigation .link a{
    color: black;
}
#navigation .link a:hover{
    color: #39a030;
}
#banner{
    position: relative;
    overflow: hidden;
    height: 100%;
}
#list img{
    width: 100%;
}
#list li{
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
#list .show{
    opacity: 1;
}
#banner #pointer{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%,0);
}
#banner #pointer li{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
#banner #pointer .active{
    background-color: black;
}
#banner #pointer li+li{
    margin-left: 10px;
}
#banner #pointer li:hover{
    cursor: pointer;
}
#product{
    height: 300px;
}
#product ul{
    height: 100%;
}
#product li{
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width: 350px;
    height: 300px;
    padding: 60px 0;
}
#product li + li{
    margin-left: 78px;
}
#product .product img{
    float: left;
    width: 80px;
    height: 80px;
    margin:5px 0 0 5px;
}
#product .intro{
    margin-left: 105px;
    overflow: hidden;
    width: 245px;
}
#product h3{
    font-size: 22px;
    color: #333;
}
#product p{
    font-size: 14px;
    margin: 20px 0 30px 0;
    color: #666;
}
#product a:hover{
    text-decoration: underline;
}
#environment, #content, #footer{
    background-color: #f8f8f8;
}
#environment img{
    width: 19.8%;
}
#environment img + img{
    margin-left: 0.25%;
}
#content{
    height: 1550px;
}
#content .main{
    padding: 80px 0 120px 0;
    position: relative;
}
#content .tab{
    display: inline-block;
    width: 200px;
    height: 50px;
    color: #666;
    background-color: white;
    font: 20px/50px "微软雅黑";
    text-align: center;
    box-shadow: 0 1px 3px #d4d3d3;
}
#content .tab.active{
    background-color: #39a030;
    color: white;
}
#course{
    height: 1270px;
    margin-top: 30px;
}
.course_list_item{
    display: inline-block;
    width: 225px;
    height: 228px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
.course_img_wrapper{
    width: 223px;
    height: 124px;
    margin: 0 auto;
}
.course_img_wrapper img{
    width: 100%;
}
.course_details{
    padding: 10px 10px 10px 5px;
}
.course_name{
    font: 12px "微软雅黑";
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course_provider{
    font: 12px "微软雅黑";
    color: #999;
    margin-top: 8px;
}
.course_num_wrapper{
    display:inline-block;
    height: 16px;
    border: 1px solid #ddd;
    font: 8px/14px "微软雅黑";
    padding-left: 15px;
    padding-right:3px;
    margin-top: 8px;
    background: url(../icon/人像.png) no-repeat 3px 2px;
}
.course_price{
    font: 12px "微软雅黑";
    color: #ff3f00;
    margin-top: 8px;
}
#content #sidebar{
    position: absolute;
    top: 80px;
    right: 0;
}
#sidebar #intro{
    width: 223px;
    height: 229px;
    background-color: white;
    box-shadow: 0 1px 3px #d4d3d3;
}
#sidebar h3{
    box-sizing: border-box;
    width: 100%;
    height: 57px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    font: 16px/56px "微软雅黑";
}
#intro_video{
    padding: 20px;
    font: 14px "微软雅黑";
}
#intro_video p{
    margin-bottom: 10px;
}
#video_thumbnail:hover{
    cursor: pointer;
}
#sidebar #hot{
    width: 223px;
    height: 781px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 1px 3px #d4d3d3;
}
#hot_list{
    padding: 20px;
}
.hot_list_item{
    margin-bottom: 20px;
    overflow: hidden;
}
.hot_img_wrapper{
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
}
.hot_list_item h4{
    font: 14px "微软雅黑";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}
.hot_num_wrapper{
    display: inline-block;
    padding-left: 15px;
    overflow: hidden;
    height: 10px;
    background: url(../icon/人像.png) no-repeat 0 0;
    line-height: 10px;
    font: 10px/10px "微软雅黑";
    color: #99989f;
}
#footer{
    height:262px;
    background-color: #2c3339;
    color: #bfbfc0;
}
#footer .main{
    padding: 80px 205px 0 0;
}
#footer .main div{
    display: inline-block;
}
#footer a{
    color: #bfbfc0;
}
#footer a:hover{
    text-decoration: underline;
}
#footer li{
    padding-top: 15px;
    font:15px/1 "微软雅黑";
}
#footer .footer_title{
    font-size: 12.5px;
}
#info{
    margin-left: 50px;
}
#info #title_cn{
    color: #39a030;
    font-size: 22px;
}
#info #info_title{
    margin:10px 0 25px;
}
#info p{
    color: #bfbfc0;
    font-size: 12.5px;
}
#otherLink{
    margin-left: 150px;
}
#about{
    margin-left: 100px;
}
#about img{
    margin: -3px 0 0 10px;
}
#more{
    float: right;
}
