/* 重置默认边距 */
*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
/* 清除浮动 */
.clearfix:after{
    display:block;
    overflow:hidden;
    clear:both;
    height:0;
    visibility:hidden;
    content:'.';
}
/* 头部设置 */
.header{
    width:100%;
    height:40px;
    border-bottom:1px solid #eee;
    background:rgba(255,255,255,0.95);
    position:fixed;
    top:0;
    left:0;
    padding:15px 0;
    z-index:99999;
}
.header_title{
    position:relative;
    overflow:hidden;
    margin:0 auto;
    width:980px;
}
.title_description{
    float:left;
    height:40px;
}
.name{
    font:31px/40px "微软雅黑";
}
.tag{
    position:absolute;
    bottom:0;
    font:14px "微软雅黑";
    margin-left:10px;
    color:rgba(0, 0, 0, 0.7);
}
.title_contact ul{
    position:absolute;
    right:0;
    bottom:0;
}
.title_contact li{
    display:inline-block;
    margin-left:5px;
}
.title_contact a{
    color:#035AA6;
    text-decoration:none;
}
.title_contact a:hover{
    text-decoration:underline;
}
.title_contact_item{
    padding-left:25px;
    background:url(../image/sprite.png) no-repeat;
    background-size:20px auto;
    height:20px;
    line-height:20px;
    font-family:Helvetica;
}
.tel{
    background-position:0 0;
}
.github{
    background-position:0 -40px;
}
.mail{
    background-position:0 -80px;
}
/* 主体设置 */
.main{
    padding-top:71px;
}
/* 章节设置 */
.section:nth-child(even){
    background:#fafafa;
}
.bodundry{
    width:980px;
    margin:0 auto;
    padding:30px 0;
}
.section_header{
    margin-bottom:30px;
}
.section_header h2{
    font:25px "微软雅黑";
    letter-spacing:8px;
    text-align:center;
}
/* 技能列表设置 */
.tech_skill_list_item{
    list-style:none;
    height:40px;
    line-height:40px;
    padding-left:10px;
    font:16px/40px "微软雅黑";
    border-left:3px solid;
    margin-bottom:10px;
    animation-duration:1.5s;
    -ms-user-select:none;
    -webkit-user-select:none;
    -moz-user-select: -moz-none;
}
.tech_skill_list_item:hover{
    cursor:default;
}
.html{
    color:#56574B;
    border-color:#56574B;
    background:#eeefd0;
    width:80%;
    animation-name:bar-html;
}
@keyframes bar-html{
    0% {width:0;}
    100% {width:80%;}
}
.css{
    color:#5E532D;
    border-color:#5E532D;
    background:#F1D572;
    width:60%;
    animation-name:bar-css;
}
@keyframes bar-css{
    0% {width:0;}
    100% {width:60%;}
}
.js{
    color:#4D6E47;
    border-color:#4D6E47;
    background:#98D98C;
    width:40%;
    animation-name:bar-js;
}
@keyframes bar-js{
    0% {width:0;}
    100% {width:40%;}
}
.ps{
    color:#3D4E57;
    border-color:#3D4E57;
    background:#B2E5FF;
    width:70%;
    animation-name:bar-ps;
}
@keyframes bar-ps{
    0% {width:0;}
    100% {width:70%;}
}
/* 教育经历设置 */
.edu{
    width:50%;
    float:left;
    box-sizing:border-box;
    position:relative;
}
.edu_logo{
    width:150px;
}
.edu_university .edu_logo{
    float:right;
}
.edu_mooc .edu_logo{
    float:left;
}
.edu_university{
    padding-right:20px;
    border-right:3px dashed #ccc;
}
.edu_mooc{
    padding-left:20px;
}
.edu p{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font:16px/1.5 "宋体";
}
.edu_university p{
    margin-right:190px;
}
.edu_mooc p{
    margin-left:190px;
}
/* 实践项目设置 */
.project{
    height:150px;
}
.project + .project{
    border-top:3px dashed #ccc;
}
.project h3{
    margin:20px 0;
    font:bold 20px "微软雅黑";
}
.project_link{
    margin:10px 0;
}
.project a{
    font: bold 16px "微软雅黑";
    color:#035AA6;
    text-decoration:none;
}
.project a:hover{
    text-decoration:underline;
}
/* 学习方向设置 */
.study_ul{
    display:flex;
    width:600px;
    margin:0 auto;
}
.study img{
    height:200px;
}
.study{
    flex:1;
}
